:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000000;
  background-color: #FBF6F3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
}

button {
  border-radius: 4px;
  border: 1px solid #E5E5E4;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  border-color: #000000;
}

button:focus,
button:focus-visible {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
